h1, h2 {
    color: blue;
    }
    p {
    color: red;
    }
    ul {
    border: 2px solid orange;
    }
    ol {
    border: 2px solid purple;
    }
    ol, ul {
        padding: 4px 20px;
        border-radius: 6px;
        }
        h1, strong {
        color: purple;
        }
        em {
        color: gray;
        }    
